@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root {

    --main-color: 250;

    --basic-light-color: hsl(var(--main-color), 80%, 61%);
    --basic-color: hsl(var(--main-color), 69%, 61%);
    --basic-dark-color: hsl(var(--main-color), 50%, 61%);

    --basic-font: 'Poppins', sans-serif;
    --title-font: 'Odibee Sans', cursive;
    --sub-title-font: 'Anton', sans-serif;


}



* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100px;
    background: rgb(233, 233, 233);
}

a {
    text-decoration: none;
    cursor: default;
}


/*---------------------------------------------<< nav >>------------------------------------------------------------*/

.nav__bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
    font-family: var(--title-font);
    font-size: 30px;
    z-index: 100;
}

#nav-open-btn {
    width: 50px;
    color: black;
    display: grid;
    place-items: center;
    transition: .5s;
}

#nav-open-btn:hover {
    background-color: rgb(230, 230, 230);
}

#nav-logo {
    cursor: default;
    color: black;
    display: grid;
    place-items: center;
    padding-right: 20px;
    padding-left: 20px;
    transition: .5s;
}

#nav-logo > * {
    margin: 0 0 0 0;
}

#nav-logo:hover {
    background-color: whitesmoke;
}

ul {
    list-style: none;
}

#nav-close-btn {
    font-size: 30px;
    height: 50px;
    display: grid;
    place-items: center;
}

#nav-close-btn:hover {
    background-color: rgb(194, 194, 194);
}

.nav__container {
    height: 100%;
    width: 300px;
    z-index: 10;
    background-color: white;
    overflow-x: hidden;
    font-family: var(--title-font);
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1s ease;
    display: inline-block;
    z-index: 1000;
}

.nav__list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav__btn {
    height: 50px;
    cursor: default;
}

.nav__link {
    padding-left: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    text-decoration: none !important;
}

.nav__link:link,
.nav__link:visited,
.nav__link:active {
    text-decoration: none;
    color: black;
}

.nav__social__list {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    padding-right: 30px;
}


.nav__social {
    font-size: 30px;
    padding: 7px;
    border-radius: 15px;
}

.social__link {
    cursor: default;
    color: black;
}

.nav__btn:hover {
    background-color: whitesmoke;
}

.nav__container ul li:hover {
    background-color: whitesmoke;
}

.nav__icon {
    margin-right: 10px;
    font-size: 20px;
}

.nav_show {
    left: 0;
}

.nav__vail {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.13);
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}


/*---------------------------------------------<< section >>------------------------------------------------------------*/


section {
    min-height: 100vh;
    padding-top: 30px;;
}

section h1{
    padding-left: 35px;
    font-size: 60px;
    font-family: var(--title-font);
}

section h2 {
    padding-left: 35px;
    font-size: 40px;
    font-family: var(--sub-title-font);
    font-weight: 400;
    font-style: italic;
}


/*---------------------------------------------<< section - profile >>------------------------------------------------------------*/

.about {
    display: flex;
    flex-direction: column;
}

.profile__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font);
    font-size: 55px;
    background: linear-gradient(0deg, rgba(126,235,255,1) 0%, rgba(255,255,255,0) 66%);
}

.profile__box p {
    margin: 0;
    font-style: italic;
    font-weight: 600;
}

#profile-img {
    border-radius: 50%;
    box-shadow: 10px 10px 10px gray;
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile-content__box {
    padding-top: 50px;
    background-color: #7eebff;
    flex: auto;
    padding-bottom: 100px;
}

.profile-content__box h3 {
    font-family: var(--title-font);
    color: black;
    font-size: 50px;
    padding-left: 70px;
    margin: 20px;
}

.profile-content__box p {
    font-family: var(--basic-font);
    color: black;
    margin: 0;
    font-size: 30px;
    padding-left: 130px;
    padding-bottom: 7px;
    font-weight: 500;
}

.profile-content {
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
}


/*---------------------------------------------<< dive >>------------------------------------------------------------*/

.diveinto {
    background-color: #7eebff;
    display: flex;
    flex-direction: column;
}

.sea__gradient {
    background: linear-gradient(0deg, rgba(189,215,238,1) 0%, rgba(126,235,255,1) 100%);

}
.sea__surface {
    width: 100%;
    height: 280px;
    overflow: hidden;
    display: flex;
}

#sea-surface {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.sea__surface-dark {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(46,117,182,1) 100%);
}

.emoji__container {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 100px;
    top: 0;
    left: 0;
    
}

#dive_emoji {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    transition: 3s ease;
    position: relative;
} 

.dive__content {
    background-color: black;
    flex-grow: 1;
    width: 100%;
    color: white;
    padding-left: 80px;
}

.dive__content h1 {
    font-style: italic;
    font-size: 55px;
    padding: 0;
}

.dive-contents__container {
    padding-left: 70px;
}

.dive-contents__container pre {
    font-family: var(--basic-font);
    font-weight: 600;
    font-size: 27px;
}



/*---------------------------------------------<< section - contact me >>------------------------------------------------------------*/

.contact-info__box {
    padding: 40px 20px 0px 40px;
    margin: 40px 80px 0px;
    border-top: 1px solid black ;
    height: 400px;
}

.contact-info__box p {
    margin: 10px 0 10px;
    font-family: var(--title-font);
    font-weight: 650;
    font-size: 40px;
}

#contact-arrow {
    text-align: center;
    margin: auto;
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 30px;
}



.contact-me__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    font-size: 60px;
}

.contact-me__box a:visited,
.contact-me__box:active {
    color: black;
}

.contact-me__box a:hover {

}

.contact-me__box a {
    background: linear-gradient(321deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 87%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}




/*---------------------------------------------<< footer >>------------------------------------------------------------*/

.footer {
    background-color: rgb(204, 204, 204);
    height: 300px;
    display: grid;
    grid: center;
}

.footer a {
    color: rgb(102, 102, 102);
    cursor: pointer;
}


.footer__container {
    padding: 50px 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
    font-family: var(--basic-font);
}

#footer-info {
    
}

#footer-contributer {
    float: right;
}