* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

a:active,
a:visited,
a:link {
    color: black;
}




.menu__bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: solid 2px black;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__btn {
    display: grid;
    place-items: center;
    background-color: white;
    height: 100%;
    width: 55px;
    font-size: 30px;
}

.nav__btn:hover {
    background-color: hsla(197, 0%, 89%, 1);
}

.menu__container {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;

}

.menu__container div {
    display: flex;
    width: 100px;
}

.menu__container div a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.menu__container div a:visited,
.menu__container div a:active,
.menu__container div a:link {
    color: black;
}

.menu__container div a:hover {
    background-color: hsla(197, 0%, 89%, 1);
}


.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 1s ease;
}

#nav__close-btn {
    display: grid;
    place-items: center;
    height: 55px;
    background-color: white;
    font-size: 25px;
}

#nav__close-btn:hover {
    background-color: hsla(197, 0%, 89%, 1);
}

#nav__vail {
    display: none;
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.nav__menu {
    list-style: none;
    width: 100%;
    padding: 0;
}

.nav__menu-link {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.nav__menu-link:hover {
    background-color: hsla(197, 0%, 89%, 1);
}



























section {
    padding-top: 55px;
    min-height: 100vh;
}
